<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/head.ejs') %>
    <link href="/public/css/styles.css" rel="stylesheet">
    <title>Login</title>

</head>

<body>
  <%- include('partials/nav.ejs') %>

    <div class="container mt-5" style="max-width: 500px;">
      <h2 class="text-center mb-4">Login to MealMatch</h2>

      <% if (loginError) { %>
        <div class="alert alert-danger">
          <%= loginError %>
        </div>
        <% } %>

          <form action="/login" method="post" class="card shadow-sm p-4">
            <div class="mb-3">
              <label for="email" class="form-label">Email address</label>
              <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email" required>
            </div>

            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <div class="password-wrapper">
                <input type="password" class="form-control" id="password" name="password"
                  placeholder="Enter your password" required>
                <span class="bi bi-eye password-toggle" data-target="password"></span>
              </div>
            </div>


            <div class="d-grid">
              <button type="submit" class="btn btn-success">Login</button>
            </div>

            <div class="text-center mt-3">
              <small>Don't have an account?
                <a href="/create" class="text-success text-decoration-none">
                  Create one here.
                </a>
              </small>
            </div>

            <div class="text-center mt-3">
              <small>Not a member, Admin Instead?
                <a href="/admin" class="text-success text-decoration-none">
                  Admin Login Here.
                </a>
              </small>
            </div>
          </form>
    </div>

    <%- include('partials/foot.ejs') %>

      <script>
        document.querySelectorAll('.password-toggle').forEach(icon => {
          const input = document.getElementById(icon.getAttribute(icon.dataset.target));

          icon.addEventListener('click', () => {
            const hidden = input.type === 'password';
            input.type = hidden ? 'text' : 'password';

            icon.classList.toggle('bi-eye', !hidden);
            icon.classList.toggle('bi-eye-slash', hidden);

          })
        })

      </script>
</body>

</html>