.two-column {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 28px;
    max-width: 1200px;
    margin: 35px auto;
    justify-self: center;
}

.meal-card {
    background: rgb(253, 246, 236);
    border: 1px solid lightgray;
    border-radius: 14px;
    padding: 18px 20px 22px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
    max-width: 360px;
    justify-self: center;
}

.meal-card img {
    width: 100%;
    height: 190px;
    object-fit: cover;
    border-radius: 10px;
    display: block;
}

.meal-card h3 {
    font-size: 1.2rem;
}

.meal-card ul {
    list-style: disc;
    padding-left: 2rem;
    font-size: .9rem;
    line-height: 1.55;
    max-height: 170px;
    overflow-y: auto;
    scrollbar-width: thin;
}
.meal-card #instructions{  
    font-size: .8rem;
    line-height: 1.55;
    max-height: 170px;
    overflow-y: auto;
    overflow-x: hidden; 
    word-wrap: break-word;
    scrollbar-width: thin;
    padding-left: 0;
}

.meal-card #instructions ol,
.meal-card #instructions ul {
    padding-left: 1.5rem;
    margin: 0;
}

.meal-card #instructions li {
    margin-bottom: 0.5rem;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

#YtBtn:hover {
    background: #147646;
}

#YtBtn a {
    color: #fff;
    text-decoration: none;
    display: inline-block;
}

.password-wrapper {
  position: relative;
}

.password-wrapper .password-toggle {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #6c757d;
  font-size: 1.1rem;
}
